<div *ngIf="!name; else forminfo" class="form-group">
  
<form [formGroup]="nForm" (ngSubmit)="addPost(nForm.value)">
      <h1>Marvellous Feedback Form</h1>
      
      <div>
      <label> Students Name
          <input type="text" formControlName="name">
      </label>
      </div>

      <div>
      <label> Your Feedback
        <textarea formControlName="description" cols="20" rows="15" class="form-control"></textarea>
      </label>
      </div>

    <div>
      <button class="btn btn-primary" [disabled]="!nForm.valid">Submit</button>
    </div>
</form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>Marvellous Feedback Report</h1>
      <h2>{{"Name of Student : "+name}}</h2>
      <h2>{{"Feedback :" +description}}</h2>
    </div>
  </div>
</ng-template>
